#main {
  margin-top: 15px;
}

#main .left-siebar-nav {
  width: 240px;
}

.item-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.item-row {
  cursor: pointer;
}

.item-cell {
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sign-in-form {
  margin-top: 50px;
}

.flash-message {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 50%;
  padding: 10px;
  z-index: 10;
}
