#wrapper {
  padding-left: 240px;
}

#wrapper .side-nav {
  top: 64px;
  width: 240px;
}

#wrapper .side-nav .userView .background {
  background-color: gray;
}

.item-link {
  cursor: pointer;
}

.sign-in-form {
  margin-top: 50px;
}