#main {
  margin-top: 15px;
}

#main .main-container {
  padding-left: 5px;
  padding-right: 5px;
}


#main .left-siebar-nav {
  width: 240px;
}

#content {
  position: relative;
}

.dashboard-table {
  margin-top: 10px;
}

.no-margin-bottom {
  margin-bottom: 0px!important;
}

.text-inline {
  line-height: 2.3;
}

.item-table-div {
  display: inline-grid;
  width: 100%;
}

.item-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.item-header {
  white-space: nowrap;
}

.asc-icon {
  height: 0px;
  position: relative;
  top: 5px;
}

.desc-icon {
  height: 0px;
}

.item-row {
  cursor: pointer;
}

.sign-in-form {
  margin-top: 50px;
}

.flash-message {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 50%;
  padding: 10px;
  z-index: 10;
}

.admin-logo {
  max-height: 40px!important;
}

.per-page-control {
  margin-right: 0px;
}

.per-page-input {
  width: 60px;
}

.total-rows-button {
  padding-left: 5px;
}
