<script>
$(function(){
  $.each($('.datetime-picker'), function(i, e){
    var $el = $(e)
    $el.flatpickr({
      enableTime: true,
      dateFormat: "Y-m-d H:i:S \\UTC",
      defaultDate: $el.val()
    })
  })
})
</script>