<% if ctx.flash["success"]? %>
  <div class="notification is-success flash-message">
    <%= ctx.flash["success"] %>
  </div>
<% end %>

<% if ctx.flash["error"]? %>
  <div class="notification is-danger flash-message">
    <%= ctx.flash["error"] %>
  </div>
<% end %>

<script>
  $(function(){
    setTimeout(function(){
      $('.notification').fadeOut()
    }, 5000)
  })
</script>
