<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= CrectoAdmin.config.app_name %></title>
    <link rel="icon" href="<%= CrectoAdmin.config.app_logo %>" type="image/png">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar has-shadow is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-size-4 has-text-weight-bold has-text-black" href="/admin">
            <img class="admin-logo" alt="" src="<%= CrectoAdmin.config.app_logo %>">&nbsp;&nbsp;
            <%= CrectoAdmin.config.app_name %>
          </a>
        </div>
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <% if CrectoAdmin.admin_signed_in?(ctx) %>
              <a class="navbar-item" href="/admin/resources">
                Dashboard
              </a>
            <% end %>
          </div>
          <div class="navbar-end">
            <% if CrectoAdmin.config.auth_enabled && CrectoAdmin.admin_signed_in?(ctx) %>
              <a class="navbar-item">
                Signed in as <%= CrectoAdmin.current_user_label(ctx) %>
              </a>
              <% if CrectoAdmin.config.auth != CrectoAdmin::BasicAuth %>
                <div class="navbar-item">
                  <div class="field is-grouped">
                    <p class="control">
                      <a class="button" href="/admin/sign_out">
                        <span class="icon">
                          <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Sign Out</span>
                      </a>
                    </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div id="main" class="container is-fluid">
      <div class="columns main-container">
        <% if CrectoAdmin.admin_signed_in?(ctx) %>
          <div class="column is-narrow">
            <aside class="menu left-siebar-nav">
              <ul class="menu-list has-text-weight-bold">
                <% CrectoAdmin.resources.each do |resource| %>
                  <% access = accesses[resource[:index]] %>
                  <% next if access[0].nil? %>
                  <% next if access[1].empty? %>
                  <li>
                    <% if CrectoAdmin.current_table(ctx) == resource[:index].to_s %>
                      <a class="is-active" href="/admin/resources/<%= resource[:index] %>">
                        <%= resource[:model].table_name %>
                      </a>
                    <% else %>
                      <a href="/admin/resources/<%= resource[:index] %>">
                        <%= resource[:model].table_name %>
                      </a>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </aside>
          </div>
        <% end %>
        <div class="column">
          <section id="content">
            <%= ecr "_flash_messages" %>
            <%= content %>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>